//Main page

@import "../_placeholders";

// Make the carat dropdown directly adjacent to the projects-navbar element
// ToDo: Make carat styled the same as projects-navbar with page-scroll (i.e. light color when in the right section)
// see here: https://www.sitepoint.com/scroll-based-animations-jquery-css3/#scroll-animation-examples
#projects-navbar {
  padding-right: 0;
}
#dropdown-toggle-projects {
  padding-left: 0;
}

#home-intro {
  background: black url(../img/sunrise.jpg) no-repeat scroll bottom center;
  @extend %background-cover;
}

.project-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: black url(../img/windowsill-pots.jpg) no-repeat scroll center center;
  @extend %background-cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}