//Projects page

@import "../_placeholders";

#project1-intro {
  background: black url(../img/gears.jpg) no-repeat scroll bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //@extend %background-cover;
}

#project2-intro {
  background: black url(../img/gears.jpg) no-repeat scroll bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //@extend %background-cover;
}

#project3-intro {
  background: black url(../img/gears.jpg) no-repeat scroll bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //@extend %background-cover;
}
